furo
GitPython
myst-nb
sphinx
sphinx-click
sphinx-copybutton
sphinx-design
sphinx-issues
sphinx-panels
sphinx-prompt
sphinx-tabs
sphinx-tags
sphinxcontrib-mermaid
sphinxcontrib-napoleon
sphinxcontrib-video
sphinxcontrib-youtube
sphinxext-remoteliteralinclude
